In [1]:
import pandas as pd

In [2]:
#Read xlsx data file
cpi = pd.read_excel("Resources/CPI.xlsx", sheet_name="Data1")

cpi_df=pd.DataFrame(cpi)

#Remove unwanted rows
cpi_data_df = cpi_df.drop(labels=range(0, 147), axis=0)
cpi_data_df.head()

,Unnamed: 0,Index Numbers ; All groups CPI ; Sydney ;,Index Numbers ; All groups CPI ; Melbourne ;,Index Numbers ; All groups CPI ; Brisbane ;,Index Numbers ; All groups CPI ; Adelaide ;,Index Numbers ; All groups CPI ; Perth ;,Index Numbers ; All groups CPI ; Hobart ;,Index Numbers ; All groups CPI ; Darwin ;,Index Numbers ; All groups CPI ; Canberra ;,Index Numbers ; All groups CPI ; Australia ;,...,Percentage Change from Corresponding Quarter of Previous Year ; All groups CPI ; Australia ;,Percentage Change from Previous Period ; All groups CPI ; Sydney ;,Percentage Change from Previous Period ; All groups CPI ; Melbourne ;,Percentage Change from Previous Period ; All groups CPI ; Brisbane ;,Percentage Change from Previous Period ; All groups CPI ; Adelaide ;,Percentage Change from Previous Period ; All groups CPI ; Perth ;,Percentage Change from Previous Period ; All groups CPI ; Hobart ;,Percentage Change from Previous Period ; All groups CPI ; Darwin ;,Percentage Change from Previous Period ; All groups CPI ; Canberra ;,Percentage Change from Previous Period ; All groups CPI ; Australia ;
147,1983-03-01 00:00:00,34.4,34.4,33.9,33.9,34.2,35,37.1,34.9,34.3,...,11.4,2.1,2.1,2.4,2.7,1.5,2.3,1.9,2,2.1
148,1983-06-01 00:00:00,35.1,35.4,34.3,34.8,34.8,35.6,37.8,35.5,35,...,11.1,2,2.9,1.2,2.7,1.8,1.7,1.9,1.7,2
149,1983-09-01 00:00:00,35.5,35.9,35.1,35.3,35.8,36.1,38.3,36,35.6,...,9.2,1.1,1.4,2.3,1.4,2.9,1.4,1.3,1.4,1.7
150,1983-12-01 00:00:00,36.2,37,35.8,36,36.5,36.9,38.8,36.9,36.5,...,8.6,2,3.1,2,2,2,2.2,1.3,2.5,2.5
151,1984-03-01 00:00:00,36.1,36.8,35.9,36,36.2,37,39,36.9,36.3,...,5.8,-0.3,-0.5,0.3,0,-0.8,0.3,0.5,0,-0.5

In [3]:
cpi_data_df.columns

Index(['Unnamed: 0', 'Index Numbers ;  All groups CPI ;  Sydney ;',
       'Index Numbers ;  All groups CPI ;  Melbourne ;',
       'Index Numbers ;  All groups CPI ;  Brisbane ;',
       'Index Numbers ;  All groups CPI ;  Adelaide ;',
       'Index Numbers ;  All groups CPI ;  Perth ;',
       'Index Numbers ;  All groups CPI ;  Hobart ;',
       'Index Numbers ;  All groups CPI ;  Darwin ;',
       'Index Numbers ;  All groups CPI ;  Canberra ;',
       'Index Numbers ;  All groups CPI ;  Australia ;',
       'Percentage Change from Corresponding Quarter of Previous Year ;  All groups CPI ;  Sydney ;',
       'Percentage Change from Corresponding Quarter of Previous Year ;  All groups CPI ;  Melbourne ;',
       'Percentage Change from Corresponding Quarter of Previous Year ;  All groups CPI ;  Brisbane ;',
       'Percentage Change from Corresponding Quarter of Previous Year ;  All groups CPI ;  Adelaide ;',
       'Percentage Change from Corresponding Quarter of Previous Year ;  All groups CPI ;  Perth ;',
       'Percentage Change from Corresponding Quarter of Previous Year ;  All groups CPI ;  Hobart ;',
       'Percentage Change from Corresponding Quarter of Previous Year ;  All groups CPI ;  Darwin ;',
       'Percentage Change from Corresponding Quarter of Previous Year ;  All groups CPI ;  Canberra ;',
       'Percentage Change from Corresponding Quarter of Previous Year ;  All groups CPI ;  Australia ;',
       'Percentage Change from Previous Period ;  All groups CPI ;  Sydney ;',
       'Percentage Change from Previous Period ;  All groups CPI ;  Melbourne ;',
       'Percentage Change from Previous Period ;  All groups CPI ;  Brisbane ;',
       'Percentage Change from Previous Period ;  All groups CPI ;  Adelaide ;',
       'Percentage Change from Previous Period ;  All groups CPI ;  Perth ;',
       'Percentage Change from Previous Period ;  All groups CPI ;  Hobart ;',
       'Percentage Change from Previous Period ;  All groups CPI ;  Darwin ;',
       'Percentage Change from Previous Period ;  All groups CPI ;  Canberra ;',
       'Percentage Change from Previous Period ;  All groups CPI ;  Australia ;'],
      dtype='object')

In [4]:
# Remove columns
cpi_updated_df = cpi_data_df[["Unnamed: 0", "Index Numbers ;  All groups CPI ;  Australia ;", 
                   "Percentage Change from Previous Period ;  All groups CPI ;  Australia ;"]]

cpi_updated_df.head()

,Unnamed: 0,Index Numbers ; All groups CPI ; Australia ;,Percentage Change from Previous Period ; All groups CPI ; Australia ;
147,1983-03-01 00:00:00,34.3,2.1
148,1983-06-01 00:00:00,35,2
149,1983-09-01 00:00:00,35.6,1.7
150,1983-12-01 00:00:00,36.5,2.5
151,1984-03-01 00:00:00,36.3,-0.5

In [5]:
# Rename columns
clean_cpi_data_df = cpi_updated_df.rename(columns={"Unnamed: 0":"Date",
                                                "Index Numbers ;  All groups CPI ;  Australia ;": "CPI Australia",
                                                "Percentage Change from Previous Period ;  All groups CPI ;  Australia ;":"% Change CPI Australia"})

clean_cpi_data_df.head()

                    Date CPI Australia % Change CPI Australia
147  1983-03-01 00:00:00          34.3                    2.1
148  1983-06-01 00:00:00            35                      2
149  1983-09-01 00:00:00          35.6                    1.7
150  1983-12-01 00:00:00          36.5                    2.5
151  1984-03-01 00:00:00          36.3                   -0.5

In [6]:
clean_cpi_data_df["Date"] = pd.to_datetime(clean_cpi_data_df.Date)
clean_cpi_data_df.head()

          Date CPI Australia % Change CPI Australia
147 1983-03-01          34.3                    2.1
148 1983-06-01            35                      2
149 1983-09-01          35.6                    1.7
150 1983-12-01          36.5                    2.5
151 1984-03-01          36.3                   -0.5

In [7]:
clean_cpi_data_df.set_index("Date", inplace=True)
clean_cpi_data_df

           CPI Australia % Change CPI Australia
Date
1983-03-01          34.3                    2.1
1983-06-01            35                      2
1983-09-01          35.6                    1.7
1983-12-01          36.5                    2.5
1984-03-01          36.3                   -0.5
...                  ...                    ...
2020-12-01         117.2                    0.9
2021-03-01         117.9                    0.6
2021-06-01         118.8                    0.8
2021-09-01         119.7                    0.8
2021-12-01         121.3                    1.3

[156 rows x 2 columns]

In [8]:
clean_cpi_data_df.dropna

<bound method DataFrame.dropna of            CPI Australia % Change CPI Australia
Date
1983-03-01          34.3                    2.1
1983-06-01            35                      2
1983-09-01          35.6                    1.7
1983-12-01          36.5                    2.5
1984-03-01          36.3                   -0.5
...                  ...                    ...
2020-12-01         117.2                    0.9
2021-03-01         117.9                    0.6
2021-06-01         118.8                    0.8
2021-09-01         119.7                    0.8
2021-12-01         121.3                    1.3

[156 rows x 2 columns]>